# Spring Cleaning!

Harold's stock data is a mess! Help him clean up his data before the auditors arrive!

In [61]:
# Initial imports
import pandas as pd
from pathlib import Path

### Load CSV data into Pandas using `read_csv`

In [62]:
csvpath = Path('../Resources/stock_data.csv')
df = pd.read_csv(csvpath)

### Identify the number of rows and columns (shape) in the DataFrame.

In [63]:
# use pandas.shape to return a tuple type == (rows,columns)
shape = df.shape
print(shape)

(504, 14)

### Preview the DataFrame using `head` to visually ensure data has been loaded in correctly.

In [64]:
# head(数字)用表格的形式把前五行（缺省默认）显示出来，或者输入数字来确认显示行数
df.head()

,symbol,name,sector,price,price_per_earnings,dividend_yield,earnings_per_share,52_week_low,52_week_high,market_cap,ebitda,price_per_sales,price_per_book,sec_filings
0,MMM,3M Company,Industrials,$222.89,24.31,2.332862,$7.92,259.770,175.49,1.387211e+11,9.048000e+09,4.390271,11.34,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,AOS,A.O. Smith Corp,Industrials,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABT,Abbott Laboratories,Health Care,56.27,22.51,1.908982,0.26,64.600,42.28,1.021210e+11,5.744000e+09,3.740480,3.19,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,ABBV,AbbVie Inc.,Health Care,108.48,19.41,2.499560,3.29,125.860,60.05,1.813863e+11,1.031000e+10,6.291571,26.14,http://www.sec.gov/cgi-bin/browse-edgar?action...
4,ATVI,Activision Blizzard,Information Technology,65.83,NaN,0.431903,1.28,74.945,38.93,5.251867e+10,2.704000e+09,10.595120,5.16,http://www.sec.gov/cgi-bin/browse-edgar?action...

### Identify the number of records in the DataFrame, and compare it with the number of rows in the original file.

In [65]:
# df.count()能计算出每一列（属性）的非空值个数，即那一列有几个值
# df.count(axis = 'columns')则计算每一行（一条记录）有几个非空值
df.count()
# df.count(axis = 'columns')

symbol                504
name                  502
sector                501
price                 500
price_per_earnings    497
dividend_yield        499
earnings_per_share    498
52_week_low           500
52_week_high          500
market_cap            500
ebitda                492
price_per_sales       500
price_per_book        492
sec_filings           500
dtype: int64

### Identify null records

In [66]:
# df.isnull() or df.isna() returns boolean value for each cell, 
# if NULL value, returns True, else, returns False
# df.notna() does the opposite
# df.sum()是用来统计总数的，这里是统计df.isna()return的True的总数
df.isna().sum()

symbol                 0
name                   2
sector                 3
price                  4
price_per_earnings     7
dividend_yield         5
earnings_per_share     6
52_week_low            4
52_week_high           4
market_cap             4
ebitda                12
price_per_sales        4
price_per_book        12
sec_filings            4
dtype: int64

### Drop Null Records

In [67]:
df = df.dropna().copy()

### Validate nulls have been dropped

In [68]:
# df.isna().sum()
df.count()

symbol                478
name                  478
sector                478
price                 478
price_per_earnings    478
dividend_yield        478
earnings_per_share    478
52_week_low           478
52_week_high          478
market_cap            478
ebitda                478
price_per_sales       478
price_per_book        478
sec_filings           478
dtype: int64

### Default null `ebitda` values to 0. Then, validate no records are null for `ebitda`.

In [69]:
df['ebitda'] = df['ebitda'].fillna(0)
df["ebitda"].isnull().sum()

0

### Drop Duplicates

In [70]:
df = df.drop_duplicates().copy()
df.count()

symbol                478
name                  478
sector                478
price                 478
price_per_earnings    478
dividend_yield        478
earnings_per_share    478
52_week_low           478
52_week_high          478
market_cap            478
ebitda                478
price_per_sales       478
price_per_book        478
sec_filings           478
dtype: int64

---

### Challenge

#### Preview price field using the head function.

In [71]:
df['price'].head(10)

0     $222.89
2       56.27
3      108.48
5      108.48
6      185.16
7      109.63
10        178
11     179.11
14      152.8
15      62.49
Name: price, dtype: object

#### Clean `price` Series by replacing `$`

In [77]:
df['price'] = df['price'].str.replace('$','')

df['price'].head(10)

0     222.89
2      56.27
3     108.48
5     108.48
6     185.16
7     109.63
10       178
11    179.11
14     152.8
15     62.49
Name: price, dtype: object

#### Confirm data type of `price`

In [78]:
df['price'].dtype

dtype('O')

#### Cast `price` Series as float and then validate using `dtype`

In [79]:
df['price'] = df['price'].astype('float')

In [80]:
df['price'].dtype

dtype('float64')