In [1]:
print("Hello world")

Hello world

In [2]:
print("Hello world from another cell")

Hello world from another cell

In [5]:
original_price = 19.5
current_price = 21
increase = current_price - original_price
percentage_price = increase/original_price * 100

In [8]:
print (increase)
print (percentage_price)

1.5
7.6923076923076925

In [13]:
# Variables
name = "Calvin KANG"
age = 39
height_cm = 177.5
weight_kg = 68.5
married = True
criminal = False

# Printing the variables
print (name)
print (age)
print (height_cm)
print (weight_kg)
print (married)
print (criminal)

Calvin KANG
39
177.5
68.5
True
False

In [16]:
# print out the type of variables
print ("Please show me the types of those variable: ")
print (type(name))
print(type(age))
print(type(height_cm))
print(type(weight_kg))
print(type(married))
print(type(criminal))

Please show me the types of those variable:
<class 'str'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'bool'>
<class 'bool'>

In [21]:
# Substituting/formatting the variables
lenth = 520
hour = 5.6
speed = lenth / hour

message = f"The average speed of this trip is: {speed} KPH."
print(message)

The average speed of this trip is: 92.85714285714286 KPH.

In [31]:
# The traditional way of doing this
print("The average speed of this trip is:", speed, ".")

The average speed of this trip is: 92.85714285714286 .

In [32]:
# more about F-string
print(f"The marriage status of Calvin is: {married}.")

The marriage status of Calvin is: True.

In [33]:
# Variable naming conventions
# bad example
mpg = 24
# better example
miles_per_gallon = 24

In [42]:
# Conditional statements

# Declaration and Assignment of the variable
driverless_car = True

# Conditional statement of displaying
if driverless_car:
    # Do something
    print("No worries, This is the auto-pilot mode.")
    print("")
    print("Now I am good to go")
    
else:
    # Do something else
    print("You need to put your hands on the wheel, and watch the road")

No worries, This is the auto-pilot mode.

Now I am good to go

In [57]:
# Another conditional example
x = 1
y = 4

if x == 1:
    print("x is equal to one")
    if y == 2:
        print(f"The addition of x and y is equal to {x+y}.")
    elif y == 4:
        print(f"The production of x and y is equal to {x*y}.")

else:
    print("x is NOT equal to one")

x is equal to one
The production of x and y is equal to 4.

In [63]:
# 2.
x = 5
y = 10
if len("Dog") < x:
    print(len("Dog"))
    print("Question 2 works!")
else:
    print("Still missing out")

3
Question 2 works!

In [66]:
# ** is the power of something
x = 2
print(x**4)

16

In [67]:
# Breaking the loop
# from 0 to 4, print(x) goes thru, whereas when it turns 5, excecute the break statement, jump out of loop.
desire_number = 5

for x in range(10):
    if x == desire_number:
        break
    print(x)

0
1
2
3
4

In [68]:
# skip a target in a loop
# when the counting turns 5, skip this counting and its statement inside, moving onto the next counting
desire_number = 5

for x in range(10):
    if x == desire_number:
        continue
    print(x)

0
1
2
3
4
6
7
8
9

In [72]:
# while loop

# initialize the counter
i = 0

# set the while condition as the end of while loop (i<10)
while i < 10:
    print(i)
    
    # increment the counter
    i += 1

0
1
2
3
4
5
6
7
8
9

In [78]:
# print out all the even number within [1,100]
"""
for x in range(1,101):
    if x % 2 == 0:
        print(x)
"""


# 2nd method with while loop
number = 2

while number <= 100:
    print(number)
    number+=2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [105]:
# add up all numbers from 1 to 10 included
sum = 0

for i in range(1,11):
    sum = sum + i
    print(i, sum)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55

In [107]:
# add up all even number less than 100
sum = 0

for i in range(101):
    if i % 2 == 0:
        sum = sum + i
        print(i, sum)

0 0
2 2
4 6
6 12
8 20
10 30
12 42
14 56
16 72
18 90
20 110
22 132
24 156
26 182
28 210
30 240
32 272
34 306
36 342
38 380
40 420
42 462
44 506
46 552
48 600
50 650
52 702
54 756
56 812
58 870
60 930
62 992
64 1056
66 1122
68 1190
70 1260
72 1332
74 1406
76 1482
78 1560
80 1640
82 1722
84 1806
86 1892
88 1980
90 2070
92 2162
94 2256
96 2352
98 2450
100 2550

In [108]:
# keep to x decimal number

float_number = 3/8

print(round(float_number,2))
# print(float_number)
      
print("%.2f" % float_number)

0.38
0.38

In [110]:
# listing 2's power

for i in range(17):
    print(i, 2 ** i)

0 1
1 2
2 4
3 8
4 16
5 32
6 64
7 128
8 256
9 512
10 1024
11 2048
12 4096
13 8192
14 16384
15 32768
16 65536