In [1]:
# in corresponding. one on one.
top_sales = {
                "january" : "Michael",
                "febrery" : "Ivy",
                "march" : "Michelle",
                "april" : "Andrew",
                "may" : "Lucas",
                "June" : "Janice"
                
}

print(top_sales)

{'january': 'Michael', 'febrery': 'Ivy', 'march': 'Michelle', 'april': 'Andrew', 'may': 'Lucas', 'June': 'Janice'}

In [2]:
top_sales

{'january': 'Michael',
 'febrery': 'Ivy',
 'march': 'Michelle',
 'april': 'Andrew',
 'may': 'Lucas',
 'June': 'Janice'}

In [4]:
# To get a particular element value by looking up the key
print(top_sales["march"])
print(top_sales["may"])

Michelle
Lucas

In [6]:
# To add a new element into the dict
top_sales["July"] = "Amy"
print(top_sales)

{'january': 'Michael', 'febrery': 'Ivy', 'march': 'Michelle', 'april': 'Andrew', 'may': 'Lucas', 'June': 'Janice', 'July': 'Amy'}

In [7]:
# To modify the current value of a particular key
top_sales["april"] = "Eva KANG"
print(top_sales)

{'january': 'Michael', 'febrery': 'Ivy', 'march': 'Michelle', 'april': 'Eva KANG', 'may': 'Lucas', 'June': 'Janice', 'July': 'Amy'}

In [8]:
# To delete a value using del
del top_sales["July"]
print(top_sales)

{'january': 'Michael', 'febrery': 'Ivy', 'march': 'Michelle', 'april': 'Eva KANG', 'may': 'Lucas', 'June': 'Janice'}

In [15]:
# To check if an element in the dict
if "may" in top_sales:
    print(f"Yes, it is. Its value is {top_sales['may']}")
if "Janice" in top_sales:
    print("Yes, it is")
else:   
    print("No, it isn't, 'Janice' is a value not a key")

Yes, it is. Its value is Lucas
No, it isn't, 'Janice' is a value not a key

In [17]:
# To print all the keys out
for key in top_sales:
    print(key, "    ", top_sales[key])

january      Michael
febrery      Ivy
march      Michelle
april      Eva KANG
may      Lucas
June      Janice

In [25]:
for k,v in top_sales.items():
    print("Key", k, "Value", v)
for k,v in top_sales.items():
    print(k,v)

Key january Value Michael
Key febrery Value Ivy
Key march Value Michelle
Key april Value Eva KANG
Key may Value Lucas
Key June Value Janice
january Michael
febrery Ivy
march Michelle
april Eva KANG
may Lucas
June Janice